html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-card-container {
    display: flex;
    align-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 15px;
}

.product-left {
    width: 30%;
    padding: 0px 30px;
}

.product-right {
    width: 45%;
    margin-top: 60px;
}

.product-image {
    width: 100%;
    max-height: 100%;
}

.main-image {
    width: 100%;
    object-fit: contain;
}

.main-card,
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 2%;
    margin-left: 5px;
    margin-right: 5px;
}

.main-card {
    width: 32%;
    max-width: 300px;
}

.product-card {
    display: inline-block;
    flex: 1 0 15%;
    height: fit-content;
}

.product-button {
    margin: 5px 0px;
    display: block;
    width: auto !important;
}

.button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #358ED7;
    text-align: center;
    cursor: pointer;
    margin: 5px 0;
    font-size: 18px;
    text-decoration: none;
}

.button:hover {
    opacity: 0.7;
}

.product-main-button {
    margin: 0;
}

.product-image-container {
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}

.product-main-name-container {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    height: 87px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-main-name {
    font-size: 22px;
    margin: 10px;
    color: #43484D;
    font-weight: 300;
}

.main-title,
.main-name,
.product-description h1 {
    color: #43484D;
    font-weight: 300;
}

.main-title {
    font-size: 52px;
    margin: 20px auto;
}

.main-name {
    font-size: 22px;
    margin: 10px;
}

.product-description h1 {
    font-size: 42px;
}

.main-name,
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-text {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.price {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-bottom: 5px;
}

.main-stars {
    position: relative;
    display: inline-block;
    font-size: 20pt;
    color: #43474D;
    height: 1em;
    line-height: 1em;
}

.main-stars:before {
    content: "\2606\2606\2606\2606\2606";
}

.main-stars:after {
    content: "\2605\2605\2605\2605\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
    width: var(--w, 50%);
    color: rgb(255, 200, 0);
    z-index: -1;
}

.feedback-choice {
    float: left;
    display: inline;
    margin-left: 3em;
}

.feedback-choice input {
    vertical-align: middle;
}