<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ product["title"] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
<div class="flex-wrapper">

    {% if message %}
        <p align="center" style="background-color: green; margin: 0; padding: 5px">{{ message }}</p>
    {% endif %}


    <div class="product-container">
        <a class="button product-main-button" style="width: 200px" href="/">Home</a>
        <a class="button product-main-button" style="width: 200px" href="/product/random">Next >>
        </a>
    </div>

    <main class="flex-container" style="justify-content: center; align-items: center;">

        <div class="product-left">
            <img class="product-image" src={{ product["imageUrl"] }}>
        </div>

        <div class="product-right">
            <div class="product-description">
                <span class="product-text">{{ product["salesCategory"] }}</span>
                <h1>{{ product["title"] }}</h1>
                <div>
                    <span class="main-stars" style="--w:{{ product["percentageRating"] }}%;"></span>
                </div>
                <p>{{ product["description"] }}</p>
            </div>

            <span class="price">{{ product["price"] }} €</span>
        </div>
    </main>

    <form action="./{{ product["id"] }}/feedback" method="post">
        <input type="hidden" name="item-id" value="{{ product["id"] }}">
        <div style="border-bottom: 1px solid #E1E8EE">
            <h1 class="main-title" align="center" style="border: 1px solid #E1E8EE; font-size: 32px">
                Recommendations</h1>
            {% for algo_products in algos %}

                <p class="product-text" style="margin-left: 20px">{{ loop.index }}. algorithm</p>
                <fieldset style="margin-left:20px; margin-right: 20px; border: 1px solid #E1E8EE">
                    <legend>How would you rate this recommendation?</legend>
                    <label class="feedback-choice">
                        <input type="radio" name="{{ algo_products[1] }}" value="great" required> great</label>
                    <label class="feedback-choice">
                        <input type="radio" name="{{ algo_products[1] }}" value="good"> good</label>
                    <label class="feedback-choice">
                        <input type="radio" name="{{ algo_products[1] }}" value="bad"> bad</label>
                    <label class="feedback-choice">
                        <input type="radio" name="{{ algo_products[1] }}" value="horrible"> horrible</label>
                </fieldset>

                <div id={{ algo_products[1] }} class="product-card-container">
                    {% for product in algo_products[0] %}
                        <div class="product-card">
                            <div class="product-image-container" style="height:200px;margin:auto">
                                <img class="main-image" src={{ product["imageUrl"] }}>
                            </div>
                            <div class="product-main-name-container">
                                <h3 class="product-main-name">{{ product["title"] }}</h3>
                            </div>
                            <span class="price">{{ product["price"] }} €</span>
                            <div>
                                <span class="main-stars" style="--w:{{ product["percentageRating"] }}%;"></span>
                            </div>
                            <a class="button product-button" href="{{ product["id"] }}">
                                Open
                            </a>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>

        <p align="center">
            <button class="button" style="width: 200px" type="submit">Submit your feedback
            </button>
        </p>
    </form>
</div>
</body>

</html>